.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    display: block;
    padding-bottom: 5px;
    box-shadow: 5px 8px 10px hsla(0,0%,0%, 0.08);
    text-align: center;
}

.headerimg {
    display: inline-block;
    margin: 0 auto;
}
.header-title{

}