* {
    font-family: Imprint MT Shadow, serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #f3f3f3,#f4f4f4);
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    display: block;
    padding-bottom: 10px;
    box-shadow: 5px 8px 10px hsla(0,0%,0%, 0.08);
    text-align: center;
}

.menu-course{

    text-align: start;
    font-weight: 250;
    font-style: inherit;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 1em;

}
.menu-price {
    float: right;
    font-weight: inherit;
    margin-right: 15px;
}

h1 {
    font-size: 38px;
}

ul ol {
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 22px;
    border-bottom: 1px dotted;
}
span {
    margin-top: 16px
}


.footer-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;

}

.footer-container > * {
    margin: 3em;
}
